<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NOTE manager</title> 
    </head> 
        <body> 
            <h1>Welcome to Our note management system!</h1>
                    <p>A simple note managemnt by FastAPI.</p> 
                        <a href="/docs">Go to Notes manager by Swagger UI</a>
                            <br>
                        <a href="/redoc">Go to Notes manager by ReDoc</a>
                            <br>
                        <img src="https://static.vecteezy.com/system/resources/previews/044/876/360/non_2x/cat-with-glasses-meme-sticker-tshirt-illustration-free-png.png" alt="cats forever!" width="300">
                    <h5>Created with love by AI students, stay turnd on for more updates!</h5>
        </body> 
</html>
